<h1 class="fs-1">Employee List</h1>
<table class="table table-striped fs-0.1">
  <thead>
    <tr>
      <th role="button" (click)="changeSorting('firstName', direction === 'asc' ? 'desc' : 'asc')">First Name</th>
      <th role="button" (click)="changeSorting('lastName', direction === 'asc' ? 'desc' : 'asc')">Last Name</th>
      <th role="button" (click)="changeSorting('email', direction === 'asc' ? 'desc' : 'asc')">Email</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let employee of employees">
      <td>{{ employee.firstName }}</td>
      <td>{{ employee.lastName }}</td>
      <td>{{ employee.email }}</td>
    </tr>
  </tbody>
</table>
<nav>
  <button role="button" class="btn btn-secondary" (click)="previousPage(page)" [disabled]="isFirstPage === true">
    Previous</button
  >&nbsp;
  <button role="button" class="btn btn-secondary" (click)="nextPage(page)" [disabled]="isLastPage === true">
    Next
  </button>
</nav>
